/* Global Elements */
:root {
    --cream:#e8e5da;
    --black:#222222;
    --amber:#eb6534;
    --orange:#ff5714;
    --blue:#197bbd;
}

/* Elements */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight:400;
    text-transform: uppercase;
    color:var(--black);
    font-size:180%;
}
h2 {font-family: 'Merriweather', serif;
    font-weight:400;
    text-transform: uppercase;
    color:var(--black);
    font-size: 160%;
}
h3 {
    font-family: 'Merriweather', serif;
    font-weight:400;
    text-transform: uppercase;
    color:var(--black);
    font-size: 140%;
}
h4 {
    font-family: 'Merriweather', serif;
    font-weight:400;
    text-transform: uppercase;
    color:var(--black);
    font-size: 120%;
}
/* classes */

/* home page bg - this is currently inline style css is not applying. */
.home {
    background-image:url('../images/beer.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-repeat:no-repeat; */
}

/* header section */
.header {
    background-color: rgba(34,34,34,0.8);
    color: var(--amber);
}
.header a {
    color:var(--cream);
}
.header :focus {
    color:var(--amber);
}
.header :hover {
    color: var(--amber);
}
.header h1 {
    color:var(--amber);
}
.header p {
    color:var(--amber);
}

/* Start Section the home page */
.start {
    background-color: rgba(232,229,218,0.9);
    border: var(--amber);
}
.start p {
    line-height: 1.6;
    margin-top: 12px;
}
.form-input-button {
    color: var(--orange);
}
.input {
    border: var(--amber);
    color: var(--black);
}
